Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ '/faq' | relative_url }}">FAQ</a></li>
  <li><a href="{{ '/sample-builds' | relative_url }}">Sample Pre-Built / DiY Builds</a></li>
  <li><a href="{{ '/hdr' | relative_url }}">HDR Setup Guide</a></li>
  <li><a href="{{ '/audio' | relative_url }}">AUDIO Setup Guide</a></li>
  <li><a href="{{ '/video' | relative_url }}">VIDEO Setup Guide</a></li>
  <li><a href="{{ '/storage' | relative_url }}">STORAGE Setup Guide</a></li>
  <li><a href="{{ '/reference' | relative_url }}">Term Reference</a></li>
  <li><a href="{{ '/nuc' | relative_url }}">NUCs</a></li>
  <li><a href="{{ '/cpucoolers' | relative_url }}">CPU Coolers</a></li>
  <li><a href="{{ '/hdmi20' | relative_url }}">Verified HDMI 2.0/HDCP 2.2 motherboards</a></li>
</ul>
